.secti-db {
  margin-top: 8rem;
}

.container {
  // max-width: 75rem;
  // padding: 1.5rem;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  // border: 1px solid rgb(219, 219, 219);
}

section {
  max-width: 85rem;
  margin: 0 auto;
}

.logo {
  font-size: 19px;
  color: white;
  letter-spacing: 0.3px;

  a {
    text-decoration: none;
    color: white;
  }
}

.product-card {
  h2 {
    font-size: 16px;
    color: teal;
  }

  .tags {
    p:first-child {
      margin-right: 10px;
    }

    p {
      font-size: 10px;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}

header,
header::before,
header::after {
  box-sizing: border-box;
  position: relative;
}


.site {
  max-width: 85rem;
  margin: 0 auto;
  height: 60vh;
  background-color: white;
}

.site * {
  transition: transform 0.5s ease-in-out;
}

/* Custom properties */
.site {
  --total: 4;
  --scene: 1; /* Default scene */
  --percentage: calc(var(--scene) / var(--total));
}

/* Scene-specific styling based on input */
input[name="scene"] {
  display: none; /* Hide the radio buttons */
}

/* Swipe animation based on radio button selection */
input[name="scene"] + label {
  display: inline-block;
  padding: 0.5em;
  width: 5rem;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  cursor: pointer;
  height: 2rem;
  border: none;
  outline: none;
}


.landscape {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 40vh; /* Adjust as needed */
  background-color: #da0947;
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center;
  overflow: hidden;
  position: relative;
  transition: background-image 0.5s ease-in-out;
}

.landscape-text {
  display: inline-block;
  font-size: 2rem; /* Adjust as needed */
  font-weight: bold;
  color: white;
  // text-align: left;
}

.hero {
  background-color: white;
  // padding: 20px; /* Adjust padding as needed */
  overflow: hidden;
}

.layer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.layer.active {
  opacity: 1;
}

.heading {
  font-size: 2rem; /* Adjust as needed */
  font-weight: bold;
  margin-bottom: 10px; /* Adjust as needed */
}

.paragraph {
  font-size: 1rem; /* Adjust as needed */
  line-height: 1.5;
  color: #333;
}

/* Adjustments to make radio buttons look like buttons */

input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.nav-button {
  display: inline-block;
  padding: 0.5em 1em;
  background-color: rgba(240, 228, 228, 0.8);
  color: rgb(12, 7, 7);
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* Styling for checked state */
input[type="radio"]:checked + label.nav-button {
  background-color: rgba(0, 0, 0, 0.6);
}
