<section class="container">
  <h3 class="heading-main">Create new Product to Catlog</h3>

  <div class="main-left">
    <form #form="ngForm" [formGroup]="postJobForm" class="form" (ngSubmit)="submit">

      <div class="form-group">
        <label for=""> Name of Product </label>
        <input class="form-input" formControlName="name" type="text" name="name"
          placeholder="eg. HP Envy Brand New" [ngClass]="{
            'is-invalid': submitted && getControls.name.errors
          }
          
          " />
        <div *ngIf="submitted && getControls.name.errors" class="invalid-feedback">
          <div *ngIf="getControls.name.errors.required">
            Example: "Principal Software Engineer”. Titles must describe one
            name.
          </div>
        </div>
      </div>


      <div class="flex flex-col gt-xs:flex-row image-upload-container my-7">
        <ng-container>
           <div class="mb-4">
            <p class="font-normal text-md text-gray-600">
                Either single or multiple together. Support format include .jpg,
                png and gif.
                <span class="text-red">5MB Max file</span>
            </p>

            <p class="font-normal text-md text-gray-600">
                Add at least 1 photo for product.
                <span class="text-black">
                    !! Please upload original image no screenshot or
                    watermark
                </span>
            </p>

            <p *ngIf="uploadError">
                <span class="text-red-500 text-sm">
                    {{ uploadErrorMessage }}
                </span>
            </p>
           </div>

            <div class="upload__box">
                <div class="upload__btn-box">
                    <label class="upload__btn">
                        <mat-icon>cloud</mat-icon>
                        <p class="text-md text-gray-600">
                            Upload image
                        </p>

                        <input
                            (change)="onFileInputChange($event)"
                         
                            type="file"
                            multiple
                            data-max_length="20"
                            class="upload__inputfile"
                        />
                    </label>
                </div>

                <div class="upload__img-wrap">
                    <div
                        *ngFor="
                            let image of images;
                            let i = index
                        "
                        class="upload__img-box"
                    >
                        <div
                            [style.background-image]="
                                'url(' + image.url + ')'
                            "
                            [attr.data-number]="i"
                            [attr.data-file]="image.name"
                            class="img-bg"
                        >
                            <div
                                (click)="removeImage(i)"
                                class="upload__img-close"
                            ></div>

                            <div *ngIf="isLoading">
                                <div class="upload__preloader">
                                    <div
                                        class="inline-block h-20 w-20 bg-slate-500 rounded-lg"
                                    >
                                        <div
                                            class="circle-spin-1 spinner-d"
                                        ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <ng-container
                        *ngIf="
                            product_id &&
                            uploadedReturnedImage.length > 0
                        "
                    >
                        <div
                            *ngFor="
                                let image of uploadedReturnedImage;
                                let i = index
                            "
                            class="upload__img-box"
                        >
                            <div
                                [style.background-image]="
                                    'url(' + image.url + ')'
                                "
                                [attr.data-number]="i"
                                [attr.data-file]="image.name"
                                class="img-bg"
                            >
                                <div
                                    (click)="removeImage(i)"
                                    class="upload__img-close"
                                ></div>
                            </div>
                        </div>
                    </ng-container> -->
                </div>
            </div>
        </ng-container>
    </div>

      <div class="form-group">
        <mat-form-field  appearance="outline">
          <mat-label>  Brands </mat-label>
          <mat-select  name="locationAllowed" formControlName="brand">
            <mat-option *ngFor="let name of brands" [value]="name.name">
              {{ name.name | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

 
   
      <mat-form-field  appearance="outline">
        <mat-label> Select Category </mat-label>
        <mat-select name="jobCategory" formControlName="category">
          <mat-option *ngFor="let category of categories" [value]="category.name">
            {{ category.name | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>




      <div class="form-group">
        <label for=""> Price  </label>
        <input class="form-input" formControlName="price" type="number" name="name"
          placeholder="eg. 500" [ngClass]="{
            'is-invalid': submitted && getControls.price.errors
          }
          
          " />
        <div *ngIf="submitted && getControls.price.errors" class="invalid-feedback">
          <div *ngIf="getControls.price.errors.required">
            Amount is required
          </div>
        </div>
      </div>
 

      <div class="form-group">
        <label for=""> Quanity </label>
        <input class="form-input" formControlName="totalQty" type="text" name="name"
          placeholder="eg. 2" [ngClass]="{
            'is-invalid': submitted && getControls.totalQty.errors
          }
          
          " />
        <div *ngIf="submitted && getControls.totalQty.errors" class="invalid-feedback">
          <div *ngIf="getControls.totalQty.errors.required">
            Quanity 
          </div>
        </div>
      </div>


    <div class="form-wrapper">
      <div formArrayName="metadata">
        <div *ngFor="let meta of metadata.controls; let i = index">
          <div [formGroupName]="i" class="form-group">
            <div class="flex justify-between">
              <div>
                <label for=""> Property (eg.Color) </label>
                <input formControlName="key" class="form-input" type="text" placeholder="Key" />
              </div>
              
              <div>
                <label for=""> Value (e.g Red) </label>
                <input formControlName="value" class="form-input" type="text" placeholder="Value" />
    
              </div>
            </div>
       
            <button type="button" class=" btn-sm btn-add" (click)="addMetadata()">Add Metadata</button>
            <button type="button" class=" btn-sm btn-remove" (click)="removeMetadata(i)">Remove</button>

          </div>
        </div>
      </div>


      
      </div>


      <div class="form-group">


        <mat-card-header>
          <p>Job Description</p>
        </mat-card-header>


        <textarea id="message" 
        formControlName="description" 
        contenteditable
        class="form-input form-field" placeholder="Production description" rows="6" required></textarea>


        <!-- <mat-card-content>
          <editor apiKey="96v08iycybbz8rffjogkkarvz1pkcf7s6skp266n2taioplo" 
           formControlName="description" name="description" #editor [init]="{
            height: 200,
            width: '100%',
            menubar: false,
            plugins: [
              'advlist autolink lists link image charmap print preview anchor',
              'searchreplace visualblocks code fullscreen',
              'insertdatetime media table paste code help wordcount'
            ],
            toolbar:
            'undo redo | formatselect | bold italic backcolor | \
            alignleft aligncenter alignright alignjustify | \
            bullist numlist outdent indent | removeformat | help'
          }"></editor>
        </mat-card-content>
        <div *ngIf="submitted && getControls.description.errors" class="invalid-feedback">
          <div *ngIf="getControls.description.errors.required">
            Please add  description
          </div>
        </div> -->


      </div>


     
      <div class="">
        <button class="btn btn-default" (click)="submit()"> Add Product </button>
      </div>
    </form>
  </div>
</section>
